body {
	padding: 1em;
	background-color: #eeeeee;
	font-family: arial;
  	font-size: 16px;
  	margin: 0;
}

pre {
  font-family: arial;
  font-size: 16px;
}

textarea {
  font-family: arial;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

i {
  font-size: 12px;
}

ol {
  margin: 0px;
  padding-left: 0px;
}

.content {
  margin: 0px 12px;
}

.block {
  background: #EAEAFA;
  padding: 10px 24px;
  margin: 12px 0px;
  border-radius: 8px;
}

.titlebar {
  background-color: #000000;
  border: none;
  padding: 28px 24px;
  margin: 0px;
  color: #990000;
  font-size: 28px;
}

.button {
  background-color: #000000;
  color: #990000;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: none;
}

.button:hover {
  color: #ffffff;
}

.button_submit {
  padding: 6px 10px;
  font-size: 14px;
}

.button_toolbar {
  font-size: 16px;
  margin: 0px 24px;
}
